<div class="mx-auto" style="width: 800px;">
  <h1 class="display-2 text-center">Formulario para acualizar datos del empleado</h1>
  <div class="mx-auto" style="width: 400px;">

    <form autocomplete="off" (ngSubmit)="actualizar(forma)" #forma="ngForm">
      <div>
        <div class="form-floating mb-2">
          <input required type="text" class="form-control" [class.is-invalid]="(nombre.invalid && nombre.touched )|| (nombre.invalid && forma.submitted)" name="nombre" ngModel={{empleado.nombre}} #nombre="ngModel">
          <label for="floatingInput">Nombre</label>
          <small *ngIf="nombre.invalid && nombre.touched" class="form-text text-danger">Campo obligatorio</small>
        </div>

        <div class="form-floating mb-2">
          <input required type="text" class="form-control" [class.is-invalid]="apellido.invalid && apellido.touched" name="apellido" ngModel="{{empleado.apellido}}" #apellido="ngModel">
          <label for="floatingInput">Apellido</label>
          <small *ngIf="apellido.invalid && apellido.touched" class="form-text text-danger">Campo obligatorio</small>
        </div>
      </div>

      <div>
        <div class="form-floating mb-2">
          <input required type="date" class="form-control" max="2021-12-12" name="nacimiento" ngModel value="{{empleado.fechaNacimiento|date}}">
          <label for="floatingInput">fecha nacimiento - {{empleado.fechaNacimiento|date:'shortDate'}}</label>
        </div>

        <div class="form-floating mb-2">
          <select required class="form-select" name="genero" ngModel="">
      	            <option value="1">Femenino</option>
      	            <option value="2">Masculino</option>
      	        </select>
          <label for="floatingSelect">Selecciona tu genero</label>
        </div>

        <div class="form-floating mb-2">
          <input required type="date" class="form-control" id="fechaIngreso" max="2021-12-12" name="ingreso" ngModel="">
          <label for="floatingInput">fecha ingreso - {{empleado.fechaIngreso|date:'shortDate'}}</label>
        </div>
      </div>

      <div class="form-floating mb-2">
        <input required type="text" class="form-control" [class.is-invalid]="estrato.invalid && estrato.touched" name="estrato" ngModel={{empleado.estrato}} #estrato="ngModel">
        <label for="floatingInput">Estrato</label>
        <small *ngIf="estrato.invalid && estrato.touched" class="form-text text-danger">Campo obligatorio</small>
      </div>

      <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-primary" type="submit">Actualizar</button>
        <button (click)="regresar()" class="btn btn-danger" type="button">Cancelar</button>
      </div>

    </form>

  </div>

</div>