<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col" *ngFor="let empleado of empleado; let i=index">
    <div class="card h-100 animated fadeIn fast">
      <div class="card-body">
        <h5 class="display-4">{{empleado.nombre}}</h5>
        <h6 class="display-6 mb-2 text-muted">{{empleado.apellido}}</h6>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <figure>
            <blockquote class="blockquote">
              <p>Fecha de nacimiento:</p>
            </blockquote>
            <figcaption class="blockquote-footer">
              {{empleado.fechaNacimiento|date}}
            </figcaption>
          </figure>
        </li>
      </ul>
      <div class="card-body">
        <button (click)="obtenerID(i)" type="button" class="btn btn-outline-primary btn-block">Ver mas...</button>
      </div>
    </div>
  </div>
</div>